<ion-header>
	<ion-toolbar>
	  <ion-title>Register</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content padding>
	  <ion-list>
  
		  <ion-item>
			<ion-label position="floating">Username</ion-label>
			<ion-input type="text" [(ngModel)]="username"></ion-input>
		  </ion-item>
		
		  <ion-item>
			<ion-label position="floating">Password</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label position="floating">Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="cpassword"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label position="floating">Doktor Adi</ion-label>
			<ion-input type="text" [(ngModel)]="doktor_ad"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label position="floating">Doktor Soyadi</ion-label>
			<ion-input type="text" [(ngModel)]="doktor_soyad"></ion-input>
		  </ion-item>
		  <ion-item>
			<ion-label position="floating">Klinik Turu</ion-label>
			<ion-input type="text" [(ngModel)]="doktor_klinik_turu"></ion-input>
		  </ion-item>
		
		</ion-list>
  
		<ion-button fill="solid" expand="block" color="dark" (click)="register()">Signup</ion-button>
  </ion-content>