[submodule "src/app/module-160202076"]
	path = src/app/module-160202076
	url = https://github.com/2019-BLM441/module-160202076
[submodule "src/app/module-160202053"]
	path = src/app/module-160202053
	url = https://github.com/2019-BLM441/module-160202053
[submodule "src/app/module-160202028"]
	path = src/app/module-160202028
	url = https://github.com/2019-BLM441/module-160202028
[submodule "src/app/module-160202025"]
	path = src/app/module-160202025
	url = https://www.github.com/2019-BLM441/module-160202025.git
[submodule "src/app/doctor_vacation"]
	path = src/app/doctor_vacation
	url = https://github.com/2019-BLM441/module-160202019.git
